@use '../../styles/breakpoints' as bp;
.bgHolder {
      background-color: rgba(106, 90, 224, 0.3);
      border-radius: 10px;
      padding: 35px;
      @include bp.below(bp.$bp-lg) {
            padding: 20px;
      }
}

.customCard {
      background: #fff;
      text-align: center;
      font-size: 15px;
      color: #3C4959;
      @include bp.below(bp.$bp-lg) {
            padding: 12px !important;
      }

      .icon {
            width: 60px;
            margin: 0 auto 18px auto;

            img {
                  box-shadow: 3px 1px 10px 0 #C09CF3;
                  border-radius: 50%;
                  width: 100%;
                  animation: shadowPulse 2.5s ease-in-out infinite, iconShake 3s ease-in-out infinite;
            }
      }
}

@keyframes iconShake {

      0%,
      100% {
            transform: rotate(0deg);
      }

      25% {
            transform: rotate(-6deg);
      }

      75% {
            transform: rotate(6deg);
      }
}


@keyframes shadowPulse {

      0%,
      100% {
            box-shadow: 3px 1px 10px 0 #C09CF3;
      }

      50% {
            box-shadow: 3px 1px 18px 4px rgba(192, 156, 243, 0.6);
      }
}