$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;
$bp-xl: 1400px;
$bp-xxl: 1600px;

@mixin below($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin above($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
