@use 'fonts';
@use 'typography';
@use 'button';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #3C4959;
  font-family: 'General Sans', system-ui, -apple-system, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#wrapper{
      position: relative;
      width: 100%;
      overflow: hidden;
      
}

.imgBox{
      width: 100%;
      img{
            width: 100%;
            height: auto;
            display: block;
      }
}

ul{
      list-style: none;
      margin: 0;
      padding: 0;
}

a{
      color: #011632;
      text-decoration: none;
}