.contactList {
      font-size: 14px;

      li {
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.14);
            padding: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 22px;

      }
}

.socialListContainer {
      border-top: 1px solid #D9D9D9;
      padding-top: 32px;

      .socialList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            li {
                  a {
                        display: block;
                        font-size: 32px;
                        color: #fff;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                             transform: scale(1.2);
                        }
                  }
            }
      }
}