.sectionHeading {
      text-align: center;
      max-width: 70%;
      margin: 0 auto 50px auto;

      h2 {
            display: inline-block;
            font-size: 42px;
            font-weight: 500;
      }

      &.small{
            max-width: 55%;
      }

      &.leftAlign{
            max-width: 100%;
            text-align: start;
      }
}