.banner {
      padding: 100px 0 0;
      &.customBanner{
           background-color: #F6F5FD;
           padding:100px 0;
           margin: 20px;
           border-radius: 10px;
           position: relative;
           z-index: 0;
      }
      p {
            max-width: 80%;
      }
}

.cta {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom:50px;

      button {
            min-width: 160px;
      }

      &.otherBannerCta{
            gap: 22px;
      }
}

.contactInfo {
      display: flex;
      align-items: center;
      gap: 20px;

      .icon {
            width: 49px;

            img {
                  width: 100%;
                  height: 49px;
                  object-fit: contain;
            }
      }
}

.otherBanner {
      position: relative;
      z-index: -1;
    padding-left: 100px;
    padding-bottom: 25px;
      &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 120px;
            background-image: url("../../assets/images/cer1.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 10px;
      }
}
.iconBox{
      display: flex;
      align-items: center;
      gap: 12px;
      
      p{
            max-width: 100%;
            margin-bottom: 0;
            &:first-child{
                  font-weight: 500;
            }
      }
}